.wrapper {
    box-sizing: border-box;
    margin: 30px;
    font-family: "Times New Roman", Serif;
}

.left {
    float: left;
    width: 49%;
    margin: 0;
    display: inline-block;
}

.right {
    float: right;
    width: 48%;
    padding-left: 2%;
    margin: 0;
    display: inline-block;
}

.bottom {
    clear: both;
    width: 100%;
    padding-top: 50px;
}

.left h3 {
    text-align: center;
    margin: 4px 20px;
    font-weight: 700;
    font-size: 20px;
}

.left table {
    margin: 10px 0;
}

.left td:first-child {
    font-weight: 700;
}

.left button {
    background-color: #658ce3;
    width: 100%;
    display: inline-block;
    height: 40px;
    border: 1px solid blue;
    font-weight: 700;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.right table:first-child {
    margin-bottom: 10px;
}

.right table:nth-child(n+2) tr:last-child td {
    border-bottom: none;
}

td, th, .right table:last-child tr:last-child td {
    border: 1px solid blue;
    padding: 5px;
    text-align: center;
}

.right tr>td:nth-child(even) {
    width: 40px;
}

.right tr>td:nth-child(odd) {
    font-weight: 700;
}

.bottom table [colspan="7"] {
    font-style: italic;
    font-weight: 700;
}

.green-cell {
    background-color: #80ff80;
    width: 200px;
}

.green-cell + td, .green-cell + td + td {
    width: 130px;
}

.bottom .green-cell {
    width: 400px;
    font-style: italic;
    font-weight: 700;
}

.bottom h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
}