<div class="container-fluid">
  <!-- Static navbar -->
  <a class="thumbnail col-xs-12 col-md-2" href="#"><img src="../../img/logo.png"> </a>
  <div class="container col-xs-12 col-md-10">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active" routerLink="staff" routerLinkActive="active"><a>Кадри</a></li>-->
            <!--<li *ngIf="isAdmin" routerLink="deletedStaff" routerLinkActive="active"><a>Видалені кадри</a></li>-->
            <li [class.active]="tabIndex === 0" (click)="tabIndex = 0"><a>Регіони</a></li>
            <!--<li *ngIf="isAdmin" routerLink="rank" routerLinkActive="active"><a>Звання</a></li>-->
            <!--<li *ngIf="isAdmin" routerLink="position" routerLinkActive="active"><a>Посади</a></li>-->
            <li [class.active]="tabIndex === 1" (click)="tabIndex = 1" ><a>Користувачі</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a (click)="logOut()">Вихід</a> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
  </div>

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron col-xs-12">
    <region *ngIf="tabIndex === 0"></region>
    <users *ngIf="tabIndex === 1"></users>
  </div>

</div>
