a {
  cursor: pointer;
}

/* override background color for the component */
.modal-content {
  background-color: #02083A;
}

.vertical-menu {
  width: 200px;
  background-color: #02083A;
  float: left;
  margin: 20px;
  box-shadow: 0px 2px 10px rgba(255,255,255,0.25);
  border: none;
}

.vertical-menu li {
  display: block;
  width: 100%;
}

.vertical-menu li a {
  border: none;
  color: white;
}

.vertical-menu li.active a, .vertical-menu li a:hover, .vertical-menu li a:focus {
  color: #02083A;
  border: none;
  border-radius: 0;
}

.save button{
  display: block;
  margin: 10px auto;
}

button:hover {
  opacity: 0.8;
}

.user {
  position: fixed;
  right: 1%;
  width: 20%;
}

.user img, .vertical-menu li img {
  display: block;
  margin: 5px auto;
}

.username {
  text-align: center;
}

.content {
  background-color: #02083A;
  padding-top: 20px;
  min-height: 100%;
  overflow: auto;
  height: 100%
}
