.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: white;
  opacity: 0.8;
}

.marginTop {
  margin-top: 10px !important;
}
.md-card-header-text {
  margin: 0 0 0 0 !important;
}

.spinner {
  width: 5%;
  height: 40px;
  margin-left: 90%;

  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.ng-busy {
  z-index: 999999999 !important;
}
.ng-busy-backdrop {
  z-index: 999999 !important;
}
.loader {
  color: #52c521;
  font-size: 10px;
  margin: 80px auto;
  position: absolute;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.toast {
  z-index: 999999999999 !important;
}
.toast-top-right {
  z-index: 999999999999 !important;;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  /*width: 100%;*/
  padding: 4px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
select:focus {
  outline: none;
}

/* Hide label */
select label {
  display: none;
}

.col-xs-12 {
  margin-top: 10px;
  padding: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.delete-icon {
  color: red;
  cursor: pointer;
}

textarea {
  overflow: scroll;
}

/* uncomment if you need to customize scrollbar */

/*::-webkit-scrollbar {*/
  /*width: initial;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
  /*border-radius: 4px;*/
  /*background-color: rgba(0,0,0,.5);*/
  /*box-shadow: 0 0 1px rgba(255,255,255,.5);*/
/*}*/

.center-text {
  text-align: center;
}

a:hover {
  cursor: pointer;
}

.modal-inner-content {
  background-color:lightgray !important;
  opacity: 0.8;
}

body {
  background-color: white;
}

.datatable-body-cell {
  cursor: pointer;
}

menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.staff_wrapper {
  background-image: url("./background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fbfbfb;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.staff_wrapper h3 {
  color: white;
  font-size: 36px;
  margin-left: 10px;
  display: inline-block;
  width: 50%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
}

.top {
  padding-top: 50px;
  padding-left: 50px;
}

.button-gradient {
  min-width: 170px;
  width: auto;
  height: 40px;
  position: relative;
  /*border: 4px solid lightgray;*/
  border-radius: 16px;
  background: linear-gradient(to right, #71ABB4, lightgrey, lightgrey, #71ABB4);
  background-clip: padding-box;
  padding: 5px;
  margin: 10px;
  color: darkblue;
  font-family: "Times New Roman", Serif;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.3);
  display: inline-block;
}

.staff_wrapper .button-gradient {
  margin-left: 50px;
  display: inline-block;
  text-transform: uppercase;

}

.button-gradient.active {
  background: linear-gradient(to right, #467d86, #b3b3b3, #b3b3b3, #467d86);
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:focus {
  outline: none;
}

.add_material {
  display: inline-block;
  float: right;
  margin-bottom: 5px;
  margin-right: 10px;
}

.inner-table {
  clear: both;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

position-book .jumbotron {
  background: none;
}

/* BASE STAFF STYLE */


.wrapper-base {
  box-sizing: border-box;
  margin: 30px;
  margin-top: 0;
  font-family: "Times New Roman", Serif;
}

.wrapper-base table, .right-info table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
}

.wrapper-base table tr:last-child td, .right-info table tr:last-child td, .wrapper-2 table tr:last-child td {
  border-bottom: 1px solid blue;
}


.wrapper-base td, .right-info td {
  display: inline-flex;;
  align-content: stretch;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  border-top: 1px solid blue;
  padding: 5px;
  width: 100%;
}

.wrapper-2 table {
  width: 80%;border-collapse: collapse;
}

.wrapper-2 tr {
  width: 470px;
}

.wrapper-2 td {
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  border-top: 1px solid blue;
  padding: 5px;
}

.wrapper-2 tr td:first-child {
  width: 90%;
}

.wrapper-2 tr td:last-child {
  width: 25px !important;
}

.wrapper-base label {
  flex-grow: 1;
  display: flex;
  align-content: stretch;
}

.wrapper-base input[type='text'] {
  flex-grow: 5;
}

.wrapper-base .green, .wrapper-base .green input ,  .wrapper-2 .green,  .wrapper-2 .green input{
  background-color: #d4fdd9;
}

.wrapper-base .italic-text, .right-info  .italic-text,  .wrapper-2 .italic-text {
  font-style: italic;
}

 .right-info > div {
  width: 135px;
  border: 1px solid blue;
  margin: 5px 15px;
}

 .right-info p {
  text-align: center;
}

 .right-info {
  width: 300px;
  position: fixed;
  right: 10px;
  top: 500px;
}

.right-info table {
   width: 200px;
 }

.right-info div, .right-info table {
   float: right;
 }

 .right-info td {
  display: table-cell;
}
